.struct{
    width: 380px;
    min-height: 550px;
    border: 1px solid;
    border-radius: 40px;
    margin-top: 10vh;
    background-color: rgb(110, 113, 113);
}
main{
    display: flex;
    justify-content: center;
}
#disp{
    width:90%;
    height: 100px;
    border: 1px solid;
    margin: 40px auto 20px auto;
    border-radius: 20px;
    background-color: #caddf3;
    
}
.keys{
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px ;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
}

.btn{
    border: 1px solid;
    border-radius: 50%;
    font-size: larger;
    background-color: #caddf3;
}
.dsp{
    text-align: right;
    margin-right: 10px;
    font-size: 3rem;
    margin-top: 20px;
    white-space: nowrap;

}
